body {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
        }
            header {
            text-align: center;
            padding: 25px;
            background-color: blue;
            color: white;
        }
            section {
            margin: 20px 0;
        }
            footer {
            text-align: center;
            padding: 10px;
            background-color: blue;
            color: white;
            position: flex;
            bottom: 0;
            width: 98,7%;
        }
            .Inicio{
                border: 2px solid blue;
                background-color: blue;
                border-radius: 25px;
                padding: 1em;
                margin: 1em;
                position: relative;
                color: white;
                position: fixed;
                right: 0;
                top: 0;

                
        }